In [2]:
# 주석 사용하기
x = 1 # 여기서 =(등호) 기호는 수학의 같다는 의미와는 다르다.
      # ... 우측 변의 리터럴(값)을 좌측 변의 변수에 대입한다는 의미다.
      # 1은 숫자형 리터럴
        
# 문자열 리터럴
text = "#는 주석이 아니다. 따옴표 안은 문자열 리터럴입니다"

In [3]:
print(x)

1

In [4]:
print(text)

#는 주석이 아니다. 따옴표 안은 문자열 리터럴입니다

In [9]:
x = "Hello, World!"
y = "Python Programming"
print(x)
print("Hello, World!")
print(y)

Hello, World!
Hello, World!
Python Programming

In [10]:
13 + (22 - 3) * 4

89

In [11]:
13 + 22 - 3 * 4

23

In [14]:
13 + ((22 - 3) * 4) / 5

28.2

In [21]:
int(0.2467 * 12 + 4.159)

7

In [23]:
print('가장 시끄러운','층은', '=', 7, '층')

가장 시끄러운 층은 = 7 층

In [27]:
print('가장 시끄러운 층은 =',7,'층')

가장 시끄러운 층은 = 7 층

In [31]:
price = 53000*24
print('냉장고 가격은',price,'원 입니다.')

냉장고 가격은 1272000 원 입니다.

In [41]:
people=250
tax=0.1
price = 20000*3*people
tax_price =int(price*(1+tax))
print('총 지불 해야 할 금액은',tax_price,'원 입니다.')

총 지불 해야 할 금액은 16500000 원 입니다.

In [44]:
AP=380
AP*0.6+225

453.0

In [47]:
a = 10 
a = a + 20
print(a)

30

In [48]:
del a
print(a)

NameError: name 'a' is not defined

In [52]:
a = 10

# 변수 a에 20을 더하고 할당하지 않으면 a=10
a + 20
print(a)

#a = a + 10 과 a += 10 은 같은 말 (a라는 변수에 10을 늘리겠다)
a += 10
print(a)

10
20

In [55]:
#변수에 빈 값 할당 -> null
a = None
print(a)

None

In [2]:
print('"안녕?"이라는 그 인사를 듣고 나는 \'누구지?\'라고 생각했다.')

"안녕?"이라는 그 인사를 듣고 나는 '누구지?'라고 생각했다.