In [1]:
#파이썬 자료 입력
#input()내장 함수
#input('메세지') -> return 사용자가 입력한 값(str)
#사용자로부터 값을 받아 옴

input_value = input("Message")
print('input_value:',input_value,'\ntype:',type(input_value))

#사용자 입력 값 정수변환
#int()내장 함수

input_value = int(input_value)
print('input_value:',input_value,'\ntype:',type(input_value))

Message 22

input_value: 22
type: <class 'str'>
input_value: 22
type: <class 'int'>

In [2]:
#입력값이 실수일 때 정수로 변경
#바로 int()함수 쓰면 오류
#float() 함수로 float type으로 만들고 int()함수 사용

In [4]:
#input()과 int()를 한줄로 작성
#제일 안쪽 소괄호부터 동작
#input() -> int() 순서로 동작해서 변수에 할당

input_value4 = int(input('정수를 입력해주세요'))
print(input_value4)

정수를 입력해주세요 2

2

In [17]:
name = input('이름을 입력하시오:')
print(name,'씨, 안녕하세요? \n파이썬에 오신 것을 환영합니다.')

value1 =int(input('첫 번째 정수를 입력하세요:'))
value2 =int(input('두 번째 정수를 입력하세요:'))
print(value1,'과',value2,'의 합은', value1 + value2,'입니다.')

이름을 입력하시오: 엔코아

엔코아 씨, 안녕하세요?
파이썬에 오신 것을 환영합니다.

첫 번째 정수를 입력하세요: 300
두 번째 정수를 입력하세요: 400

300 과 400 의 합은 700 입니다.

In [32]:
stadium = input('경기장은 어디입니까?')
win = input('이긴 팀은 어디입니까?')
lose = input('진 팀은 어디입니까?')
MVP = input('우수 선수는 누구입니까?')
score = input('스코어는 몇대몇입니까?')

print('\n[속보]',win,'가',score,'로 승리...\n오늘',
      stadium,'경기장에서 야구 경기가 있었습니다.')
print(win,'와',lose,'는 치열한 공방전을 펼쳤습니다.\n이 경기에서',
      MVP,'가 맹활약을 했습니다.\n그 끝내',win,'가',lose,'를',score,'로 승리하였습니다.\n기사 끝.')

경기장은 어디입니까? 고척
이긴 팀은 어디입니까? KT
진 팀은 어디입니까? LG
우수 선수는 누구입니까? 강백호
스코어는 몇대몇입니까? 10:9

[속보] KT 가 10:9 로 승리...
오늘 고척 경기장에서 야구 경기가 있었습니다.
KT 와 LG 는 치열한 공방전을 펼쳤습니다.
이 경기에서 강백호 가 맹활약을 했습니다.
그 끝내 KT 가 LG 를 10:9 로 승리하였습니다.
기사 끝.

In [34]:
#입력값을 여러개 변수에 저장
#.split(인자_구분자) 메소드
#구분자를 활용하여 문자열을 쪼갬 / list로 결과값 반환
#인자 없으면 공백을 기준으로

result = '1,2,3'.split(',')
print(type(result))
print(result)

<class 'list'>
['1', '2', '3']

In [1]:
time = input('hh:mm:ss의 형태로 시간을 입력해주세요')
result = time.split(':')
print('\n시 :',result[0],'\n분 :',result[1],'\n초 :',result[2])

hh:mm:ss의 형태로 시간을 입력해주세요 12:33:2

시 : 12
분 : 33
초 : 2

In [2]:
h,m,s = input("hh:mm:ss의 형태로 시간을 입력해주세요").split(":")

print("시 :",h)
print("분 :",m)
print("초 :",s)

hh:mm:ss의 형태로 시간을 입력해주세요 12:33:23

시 : 12
분 : 33
초 : 23

In [3]:
#map(function,literable)함수
#iterable -> 시퀀스(여러가지 값을 가진 연속형 자료)
#literable(str,list,tuple)객체에서 요소를 하나씩 꺼내서 특정 함수 적용
#map class 반환 (literable객체) / list(),tuple()로 클래스 변경 가능

In [19]:
kor,eng,mat,sci = input('국어,영어,수학,과학 점수를 입력해주세요').split(',')
a=[kor,eng,mat,sci]
a=list(map(int,a))

mean = sum(a)/len(a)
print('\n실행결과:\n평균 점수는',mean,'점 입니다.')

국어,영어,수학,과학 점수를 입력해주세요 98,100,96,100

실행결과:
평균 점수는 98.5 점 입니다.