# Overfitting

In [2]:
import seaborn as sns
df = sns.load_dataset('titanic')

In [3]:
cols = ['age','sibsp','parch','fare']
features = df[cols]
target = df['survived']

In [5]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder 

cols = ['pclass','sex','embarked']
enc = OneHotEncoder()
tmp = pd.DataFrame(
    enc.fit_transform(df[cols]).toarray(),
    columns = enc.get_feature_names_out()
)
tmp
features = pd.concat([features, tmp],axis=1)
features.head()

,age,sibsp,parch,fare,pclass_1,pclass_2,pclass_3,sex_female,sex_male,embarked_C,embarked_Q,embarked_S,embarked_nan
0,22.0,1,0,7.2500,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
1,38.0,1,0,71.2833,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
2,26.0,0,0,7.9250,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
3,35.0,1,0,53.1000,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
4,35.0,0,0,8.0500,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0

In [7]:
features.age.isnull().sum()

177

In [9]:
features.age = features.age.fillna(-1)
features.isnull().sum().sum()

0

In [11]:
from sklearn.model_selection import train_test_split
SEED = 42

X_train, X_valid, y_train, y_valid = train_test_split(features, target, random_state=SEED, test_size = 0.2)

X_train.shape, X_valid.shape, y_train.shape, y_valid.shape

((712, 13), (179, 13), (712,), (179,))

## 모델 복잡도에 따른 overfitting 예제

In [15]:
from sklearn.tree import DecisionTreeClassifier
SEED = 42

model = DecisionTreeClassifier(max_depth=20, random_state=SEED)  

model.fit(X_train, y_train)

model.score(X_train, y_train), model.score(X_valid,y_valid)

(0.9803370786516854, 0.770949720670391)

Hyper parameter : max_depth -> 사용자가 직접 세팅 // 복잡한 모델일수록 높은 값

train data에서는 score가 높지만 test data에서는 score가 낮음

## 모델 복잡도를 줄인 Underfitting 예제

In [18]:
model = DecisionTreeClassifier(max_depth =3, random_state=SEED)
model.fit(X_train,y_train)
model.score(X_train,y_train), model.score(X_valid, y_valid)

(0.8146067415730337, 0.7932960893854749)

train, test 모두 score가 낮음