In [2]:
import pandas as pd
import json
import os

In [81]:
data = []
mydf = pd.DataFrame()

In [82]:
#현재 경로 확인
%pwd

'c:\\dev\\github\\analysis practice\\로그 데이터 분석'

In [83]:
#to parse json files
with open('./datas/tutorial_01/ds_tutorial_json.json') as f:
    for line in f:
        data.append(json.loads(line))

    # convert json to df
    for i in range(0,len(data)):
        df = pd.DataFrame.from_dict([data[i]])
        mydf =pd.concat([mydf,df])

    mydf.reset_index(drop=True, inplace = True)

In [84]:
mydf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    120 non-null    object
 1   memno   120 non-null    object
 2   screen  120 non-null    object
 3   event   120 non-null    object
 4   ver     120 non-null    object
 5   area    120 non-null    object
 6   group   120 non-null    object
dtypes: object(7)
memory usage: 6.7+ KB

In [85]:
mydf['date']

0      1511947418
1      1511947418
2      1511947418
3      1511947418
4      1511947418
          ...
115    1511688217
116    1511688217
117    1511688217
118    1511688217
119    1511688217
Name: date, Length: 120, dtype: object

In [88]:
#change date column type
mydf['date'] = pd.to_datetime(mydf['date'],unit='s').dt.date
mydf['date'] = mydf['date'].astype('datetime64[ns]')